body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    /* border: 2px solid blue; */
}

#rock{
    font-size: 48px;
    border-radius: 15px;
    padding: 10px;
    background: pink;
}

#paper{
    font-size: 48px;
    border-radius: 15px;
    padding: 10px;
    background: pink;
}

#scissors{
    font-size: 48px;
    border-radius: 15px;
    padding: 10px;
    background: pink;
}

.computer-choice{
    font-family: sans-serif;
}

.user-choice{
    font-family: sans-serif;
}

.result{
    font-family: sans-serif;
}