body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 100vw; */
    min-height: 100vh;
    background: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button{
    font-family: monospace;
    font-size: 26px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid blue;
    color: grey;
}

.button:hover{
    color: white;
    border-color: red;
    transform: scale(1.1);
}


.computer-choice{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    padding: 10px;
    color: white;
}

.user-choice{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    padding: 15px;
    color: white;
}

.result{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 24px;
    padding: 10px;
    color: white;
}
